
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myTweetLabel">Create or edit a Tweet</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.tweet.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_userid">Userid</label>
            <input type="number" class="form-control" name="userid" id="field_userid"
                    ng-model="vm.tweet.userid"
                    required />
            <div ng-show="editForm.userid.$invalid">
                <p class="help-block"
                    ng-show="editForm.userid.$error.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.userid.$error.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="tweeterApp.tweet.publication_date" for="field_publication_date">Publication_date</label>
                <div class="input-group">
                    <input id="field_publication_date" type="text" class="form-control" name="publication_date" datetime-picker="{{dateformat}}" ng-model="vm.tweet.publication_date" is-open="vm.datePickerOpenStatus.publication_date"
                    required  />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('publication_date')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
            <div ng-show="editForm.publication_date.$invalid">
                <p class="help-block"
                    ng-show="editForm.publication_date.$error.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.publication_date.$error.ZonedDateTimelocal">
                    This field should be a date and time.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_tweet">Tweet</label>
            <input type="text" class="form-control" name="tweet" id="field_tweet"
                    ng-model="vm.tweet.tweet"
                    required ng-maxlength="140" />
            <div ng-show="editForm.tweet.$invalid">
                <p class="help-block"
                    ng-show="editForm.tweet.$error.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.tweet.$error.maxlength">
                    This field cannot be longer than 140 characters.
                </p>
            </div>
        </div>

        <div class="form-group">
            <label for="field_tweetuserid">tweetuserid</label>
            <select class="form-control" id="field_tweetuserid" name="tweetuserid" ng-model="vm.tweet.tweetuserid" ng-options="user as user.id for user in vm.users track by user.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
